<!DOCTYPE html>
<%- include('layout/head', {title : data.title}); %>
<body>
    <%- include('layout/nav', {cart : data.session, user: data.user}); %>
    <div class="container" style="padding-top: 40px;">
        <div class="row-fluid">
            <% if (data && data.products) {%>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <ul class="list-group">
                        <% var products = data.products; %>
                        <% for (let product of products) { %>
                            <li class="list-group-item">
                                <span class="badge"><%=product.qty %></span>
                                <strong><%=product.item.category[0].name %></strong>
                                <span class="label label-success">$<%=product.price %></span>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/reduce/<%=product.item._id%>">Remove 1 item</a></li>
                                        <li><a href="/remove/<%=product.item._id%>">Remove All</a></li>
                                    </ul>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <strong>Total: <%=data.totalPrice %></strong>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <a href="#" type="button" class="btn btn-success">Checkout</a>
                    <a href="/listgift" type="button" class="btn btn-default">&nbsp;Go Back&nbsp;</a>
                </div>
            </div>
            <% } else { %>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <h2>No item chooise!</h2>
                    <h3>Return Homepage!</h3>
                    <a href="/listgift" type="button" class="btn btn-default">&nbsp;Go Back&nbsp;</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <%- include ./layout/footer %>